body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.label {
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 200px;
}
button {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 0px;
}
button:hover {
  cursor: pointer;
}
.error-message {
  display: block;
  color: red;
}